header {
  border-bottom: 1px solid #dddddd;
}

.header-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-left h1 {
  margin: 0;
  font-size: 1.25rem;
}

.header-left p {
  margin: 0;
  font-size: 0.85rem;
}

.header-right button {
  margin: 0;
}

.intro {
  margin: 2rem 0;
}

.intro h1 {
  margin-bottom: 0.5rem;
}

.intro p {
  max-width: 650px;
}

.internship-list {
  display: grid;
  gap: 1rem;
}

article {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

article img {
  width: 64px;
  height: 64px;
  object-fit: contain;
  margin-bottom: 1rem;
}

article a[role='button'] {
  margin-top: auto;
}

@media (min-width: 768px) {
  .internship-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1100px) {
  .internship-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 700px) {
  .header-container {
    align-items: flex-start;
    flex-direction: column;
  }
}
